
body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

html {
  height: 100%;
  width: 100%;
}


#map {
  position: relative;   
  width: 100%;
  height: 500px;      
}

#map svg,
#stations-layer {
  position: absolute;   
  top: 0;
  left: 0;
  width: 100%;          
  height: 100%;
  pointer-events: none; 
  z-index: 1;           
}


.stations-layer circle {
  stroke: white;
  stroke-width: 1px;
  fill-opacity: 0.6;
  pointer-events: auto;
}


#map circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(50% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}


#map circle {
  fill: var(--color);
}
.legend {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 1.5em;              
  margin-block: 1em;       
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;         
  font-size: 0.85rem;
  color: #000;         
}

.legend > div::before {
  content: "";
  width: 1em;
  height: 1em;
  background-color: var(--color);
  border: 1px solid #ccc;
  border-radius: 50%;   
}